body {
    display: flex;
    background-color:  rgb(216, 216, 216);
    justify-content: center;
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    height: 550px;
    width: 750px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 12px;
    margin-top: 25vh;
    grid-template-areas: 
        ' header header header '          
        ' nav aside aside ' ;  
     grid-template-columns:1fr 1fr;
     grid-template-rows: 50%;
}   


header{
    grid-area: header; 
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

nav{
    grid-area: nav;
    background-color: hsl(179, 61%, 42%);
    padding-top: 10%;
     padding-left: 10%; 
     color: #fff;
     font-weight: 700;
     margin-top: -10%;
     height: 274px;
     border-bottom-left-radius: 12px;
}

aside{
    grid-area: aside;
    background-color: rgb(35, 195, 198);
    margin-top: -10%;
    border-bottom-right-radius: 12px;
}

button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}